@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

nav {
  background-color: black;
  padding: 10px 20px;
  /* display: flex; */

}

ul {
  display: flex;
  list-style: none;
  color: white;
  justify-content: end;
  align-items: center;
  margin-top: 30px !important;
  font-size: 12px;
}

ul li {
  margin-right: 20px;
}

.image {
  background-image: url(./components/library.jpg);
  background-size: cover;
  height: 70vh;
  /* opacity: 0.5; */
  color: white;
  font-weight: 600;
  margin-top: 5px;
}